In [36]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
file_name_bbc = 'BBC_reading/exсel_files/bbc_scraping.xlsx'
file_name_nz = 'BBC_reading/exсel_files/zn_ua_scraping.xlsx'

In [4]:
excel_bbc_texts = pd.read_excel(file_name_bbc, index_col=0)
excel_nz_texts = pd.read_excel(file_name_nz, index_col=0)

In [32]:
excel_bbc_texts['Date'] = pd.to_datetime(excel_bbc_texts['Date'],format='%d/%m/%Y', dayfirst=True)
excel_nz_texts['Date'] = pd.to_datetime(excel_nz_texts['Date'],format='%d/%m/%Y', dayfirst=True)

In [7]:
topics = list(set(excel_bbc_texts['Main_Topics']))

In [11]:
name_class = topics[0]

In [13]:
days_period = 3 
start_period = '03/03/2020' 
end_period = '12/05/2020'

In [33]:
excel_bbc_texts[(excel_bbc_texts['Main_Topics'] == name_class) & (start_period <= excel_bbc_texts['Date']) & (excel_bbc_texts['Date'] <= end_period)]

,Date,Author,Main_Topics,Topic,Text
99,2020-03-16,NaN,Технології,Закритий кордон: як повернутися в Україну? Вип...,У випуску 16 березня:\nУкраїна закриває кордон...
100,2020-03-06,NaN,Технології,Понад мільярд пристроїв Android під загрозою з...,Копирайт изображения\nGETTY IMAGES\nПонад міль...
101,2020-03-03,NaN,Технології,Apple погодилася заплатити $500 млн за сповіль...,Копирайт изображения\nUNSPLASH\nКомпанія Apple...
204,2020-03-29,Адріенне Мюррей,Технології,Коронавірус: як роботи допомагають боротися з ...,Копирайт изображения\nADRIENNE MURRAY\nImage c...
205,2020-03-26,NaN,Технології,Уряд Британії замовив апарати штучної вентиляц...,Копирайт изображения\nGETTY IMAGES\nБританськи...
359,2020-04-06,NaN,Технології,Коронавірус: у Британії підпалюють 5G-вежі моб...,Копирайт изображения\nGETTY IMAGES\nУ Великій ...
458,2020-04-12,"Артем Лисенко, Дніпро",Технології,"Як вмирає ""Південмаш"": без Росії не допоміг ні...",Копирайт изображения\nHTTPS://YUZHMASH.COM\nIm...
494,2020-04-15,NaN,Технології,Apple представила новий бюджетний iPhone SE,Копирайт изображения\nAPPLE\nApple представила...
597,2020-04-23,NaN,Технології,Мільйони айфонів під загрозою зламу через враз...,Копирайт изображения\nUNSPLASH\nЧерез вразливі...
862,2020-05-11,NaN,Технології,TikTok. Як він підкорює світ і з чого все почи...,"Створити ще одну популярну соцмережу. У світі,..."

In [39]:
def create_result_table(topics, days_period, first_day, last_day):
    
    all_source_for_bars = pd.DataFrame(columns=topics)
    
    last_day = pd.to_datetime(last_day,format='%d/%m/%Y')
    start_period = pd.to_datetime(first_day,format='%d/%m/%Y')
    period_time = pd.Timedelta(days=days_period)
    bool_parametr = True
    
    while bool_parametr:
        end_period = start_period + period_time
        
        if end_period >= last_day:
            bool_parametr = False
            end_period = last_day
            break
        
        counts_dateFrame_1 = pd.DataFrame(columns=topics)
        counts_dateFrame_2 = pd.DataFrame(columns=topics)
        
        counts_list = np.array([])
        for index,name_class in enumerate(topics):
            if name_class == 'start_period':
                counts_list = np.append(counts_list, start_period)
                counts_list = np.append(counts_list, end_period)
                break

            counts_dateFrame_1 = excel_bbc_texts[(excel_bbc_texts['Main_Topics'] == name_class) & (start_period <= excel_bbc_texts['Date']) & (excel_bbc_texts['Date'] <= end_period)]
            counts_dateFrame_2 = excel_nz_texts[(excel_nz_texts['Main_Topics'] == name_class) & (start_period <= excel_nz_texts['Date']) & (excel_nz_texts['Date'] <= end_period)]
            
            # print(counts_dateFrame.head)
            count = len(counts_dateFrame_1) + len(counts_dateFrame_2)

            # print(f"count\t{count}\nindex\t{index}")
            counts_list = np.append(counts_list, count)

        temp_count_table = pd.DataFrame([counts_list],columns=topics) 
        all_source_for_bars = all_source_for_bars.append(temp_count_table, ignore_index=True)
        
        start_period = end_period + pd.Timedelta(days=1)
    
    return all_source_for_bars

In [40]:
days_period = 3 
first_day = '03/03/2020' 
last_day = '12/05/2020'
all_source_bars = create_result_table(topics, days_period, first_day, last_day)

In [42]:
all_source_bars.head

<bound method NDFrame.head of     Технології  Економіка  Україна  Суспільство  Здоров'я  Наука  Коронавірус  \
0          2.0        0.0      0.0          0.0       0.0    0.0          0.0
1          0.0        5.0      0.0          0.0       0.0    3.0          0.0
2          0.0        2.0      0.0          0.0       0.0    1.0          0.0
3          1.0       21.0      0.0          4.0       0.0    5.0          0.0
4          0.0       42.0     10.0          7.0      20.0    0.0          0.0
5          1.0       78.0     39.0          8.0      10.0    2.0          0.0
6          1.0       48.0     21.0         11.0       5.0    3.0         11.0
7         11.0       76.0      0.0          9.0       8.0    2.0         37.0
8         28.0       41.0     42.0         13.0       7.0    0.0         23.0
9         40.0       55.0     71.0          3.0       2.0    0.0         48.0
10        28.0       42.0     39.0          6.0       2.0    1.0         45.0
11        14.0       30.0     85.0          2.0       0.0    1.0         33.0
12        23.0       70.0    100.0          4.0       0.0    2.0         41.0
13        23.0       37.0     94.0          2.0       0.0    1.0         28.0
14        26.0       56.0    106.0          2.0       1.0    0.0         23.0
15        13.0       35.0     72.0          3.0       2.0    0.0         32.0
16        21.0       57.0     94.0          4.0       3.0    3.0         30.0

    Політика  Спорт
0        0.0    0.0
1       12.0    0.0
2       53.0    3.0
3       48.0    1.0
4        8.0    0.0
5        0.0    1.0
6        2.0   34.0
7        6.0  126.0
8      172.0   95.0
9       49.0   40.0
10      35.0   31.0
11      26.0   31.0
12      50.0   32.0
13      57.0   32.0
14      55.0   31.0
15      46.0   32.0
16      65.0   32.0  >

In [43]:
arr = np.array([1,2,3,4])

In [44]:
np.sum(arr)

10